name: Auto Testing (v13)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - name: Install dependencies
        run: |
          flutter pub get

      - name: Run unit & widget tests
        run: |
          flutter test --coverage
      - name: Upload coverage (artifact)
        uses: actions/upload-artifact@v4
        with:
          name: test-coverage
          path: coverage
