name: Flutter Web Build & Deploy to Vercel

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.27.0"

      - name: Flutter clean & pub get
        run: |
          flutter clean
          flutter pub get

      - name: Build Flutter Web
        run: flutter build web --release

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel (Production)
        run: vercel deploy --prod --yes --token=$VERCEL_TOKEN --scope=sanad-idari build/web
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
